
  .item{
    display: flex;
    align-items: center;
    gap: 5px;
  
  
  }
  
  
  .title{
    margin-bottom: 10px;
    font-size: 20px;
  
  }
  
  .imageContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
  }
  
  .textContainer{
    flex: 4;
    text-align: start;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
    
  }
  
  .image{
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover ;
  }
  
  .postTitle{
    font-size: 18px;
    font-weight:500;
    color: var(--softTextColor);
    
  }
  
  
  .details{
    font-size: 12px ;
  }
  
  .date{
    color: gray;
  }
  
  .category{
   padding: 3px 8px;
   border-radius: 10px;
   font-size: 14px;
   color: black;
   font-weight: 600;
   width: fit-content;
  }


  